@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
:root {
    --pm-green: #0CA57A;
    --pm-red: #FB1004;
    --pm-white: white;
}

.navbar-brand {
    color: #00923F;
}

.navbar-brand:hover {
    color: #00923F;
}

/* Hero section */
.carousel-inner {
    top: 1rem;
    padding: 5rem;
}
#do-section .col-md-3 .card{
    background-color: #ebebeb;
}
#do-section .service h4 {
    background-color: #0caa7d; 
    color: white; 
    text-transform: uppercase;
}

#do-section .service .card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}

#do-section .service p {
    text-transform: capitalize;
}

/* Our Portfolio */
#lightbox .modal-content {
    display: inline-block;
    text-align: center;   
}

#lightbox .close {
    opacity: 1;
    color: rgb(255, 255, 255);
    background-color: rgb(25, 25, 25);
    padding: 5px 8px;
    border-radius: 30px;
    border: 2px solid rgb(255, 255, 255);
    position: absolute;
    top: -15px;
    right: -55px;
    
    z-index:1032;
}

.modal-body {
    width: 100%;
}

.modal-body img {
    width: 100%;
    height: 100%;
}

#lightbox .close {
    top: 100px;
}

.modal-content {
    margin-top: 10rem;
    width: 115%;
}


/* Our Serviece */

#service {
    margin: 8rem 0;
}

#what-we-do{
	background:#ffffff;
}
#what-we-do .card{
	padding: 1rem!important;
	border: none;
	margin-bottom:1rem;
	-webkit-transition: .5s all ease;
	-moz-transition: .5s all ease;
	transition: .5s all ease;
}
#what-we-do .card:hover{
	-webkit-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
	-moz-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
	box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
}
#what-we-do .card .card-block{
	padding-left: 50px;
    position: relative;
}
#what-we-do .card .card-block a{
	color: var(--pm-green) !important;
	font-weight:700;
	text-decoration:none;
}
#what-we-do .card .card-block a i{
	display:none;
	
}
#what-we-do .card:hover .card-block a i{
	display:inline-block;
	font-weight:700;
	
}
#what-we-do .card .card-block:before{
	font-family: FontAwesome;
    position: absolute;
    font-size: 39px;
    color: var(--pm-green);
    left: 0;
	-webkit-transition: -webkit-transform .2s ease-in-out;
    transition:transform .2s ease-in-out;
}
/* #what-we-do .card .block-1:before{
    content: "\f5ad";
}
#what-we-do .card .block-2:before{
    content: "\f0eb";
}
#what-we-do .card .block-3:before{
    content: "\f00c";
}
#what-we-do .card .block-4:before{
    content: "\f209";
}
#what-we-do .card .block-5:before{
    content: "\f0a1";
}
#what-we-do .card .block-6:before{
    content: "\f218"; */
}
#what-we-do .card:hover .card-block:before{
	-webkit-transform: rotate(360deg);
	transform: rotate(360deg);	
	-webkit-transition: .5s all ease;
	-moz-transition: .5s all ease;
	transition: .5s all ease;
}


/* Client Section */
.client_section .client_box .client-id .img-box {
    width: 10rem;
    height: 8rem;
}



#our-team .team-box {
    background-color: var(--pm-green);
    border: 1px solid var(--pm-green);
}
#our-team .team-img {
    background-color: var(--pm-white);
    /* width: 5ren; */
    height: 15rem;
}

#our-team .team-designation {
    text-transform: uppercase;
    color: white;
    background-color: var(--pm-red);
    writing-mode: vertical-rl;
    position: absolute;
    left: -75px;
    transform: rotate(180deg);
    /* width: 50px; */
    height: 100%;
    padding: 15px 5px;
}

#our-team .team-text {
    background-color: var(--pm-green);
    color: var(--pm-white);
    height: 100%;
}

#our-team .team-text h5 {
    text-transform: uppercase;
}


/* contact us */

@import url(//fonts.googleapis.com/css?family=Montserrat:300,400,500);
.contact4 {
  font-family: "Montserrat", sans-serif;
	color: #8d97ad;
  font-weight: 300;
}

.contact4 h1, .contact4 h2, .contact4 h3, .contact4 h4, .contact4 h5, .contact4 h6 {
  color: #3e4555;
}

.contact4 .font-weight-medium {
	font-weight: 500;
}

.contact4 .form-control {
  background: transparent;
  border: 2px solid rgba(255, 255, 255, 0.5);
}

.contact4 .form-control:focus {
  border-color: #ffffff;
}

.contact4 input::-webkit-input-placeholder,
.contact4 textarea::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.7);
}

.contact4 input:-ms-input-placeholder,
.contact4 textarea:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.7);
}

.contact4 input::placeholder,
.contact4 textarea::placeholder {
  color: rgba(255, 255, 255, 0.7);
}

.contact4 .right-image {
  position: absolute;
  right: 0;
  bottom: 0;
  top: 0;
}

.contact4.bg-info {
    background-color: var(--pm-green)!important;
}

.contact4 .text-inverse {
    color: #3e4555 !important;
}

#contact-submit {
    color: var(--pm-white);
    background-color: var(--pm-red);
}

@media (min-width: 1024px) {
	.contact4 .contact-box {
    padding: 80px 105px 80px 0px;
	}
}

@media (max-width: 767px) {
	.contact4 .contact-box {
    padding-left: 15px;
    padding-right: 15px;
	}
}

@media (max-width: 1023px) {
	.contact4 .right-image {
			position: relative;
			bottom: -95px;
	}
}
