:root {
    --pm-green: #0CA57A;
    --pm-red: #FB1004;
    --pm-white: white;
}

.navbar-brand {
    color: #00923F;
}

.navbar-brand:hover {
    color: #00923F;
}

/* Hero section */
.carousel-inner {
    top: 1rem;
    padding: 5rem;
}
#do-section .col-md-3 .card{
    background-color: #ebebeb;
}
#do-section .service h4 {
    background-color: #0caa7d; 
    color: white; 
    text-transform: uppercase;
}

#do-section .service .card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}

#do-section .service p {
    text-transform: capitalize;
}

/* Our Portfolio */
#lightbox .modal-content {
    display: inline-block;
    text-align: center;   
}

#lightbox .close {
    opacity: 1;
    color: rgb(255, 255, 255);
    background-color: rgb(25, 25, 25);
    padding: 5px 8px;
    border-radius: 30px;
    border: 2px solid rgb(255, 255, 255);
    position: absolute;
    top: -15px;
    right: -55px;
    
    z-index:1032;
}

.modal-body {
    width: 100%;
}

.modal-body img {
    width: 100%;
    height: 100%;
}

#lightbox .close {
    top: 100px;
}

.modal-content {
    margin-top: 10rem;
    width: 115%;
}

/* Client Section */
.client_section .client_box .client-id .img-box {
    width: 10rem;
    height: 8rem;
}



#our-team .team-box {
    background-color: var(--pm-green);
    border: 1px solid var(--pm-green);
}
#our-team .team-img {
    background-color: var(--pm-white);
    /* width: 5ren; */
    height: 15rem;
}

#our-team .team-designation {
    text-transform: uppercase;
    color: white;
    background-color: var(--pm-red);
    writing-mode: vertical-rl;
    position: absolute;
    left: -75px;
    transform: rotate(180deg);
    /* width: 50px; */
    height: 100%;
    padding: 15px 5px;
}

#our-team .team-text {
    background-color: var(--pm-green);
    color: var(--pm-white);
    height: 100%;
}

#our-team .team-text h5 {
    text-transform: uppercase;
}


/* contact us */

@import url(//fonts.googleapis.com/css?family=Montserrat:300,400,500);
.contact4 {
  font-family: "Montserrat", sans-serif;
	color: #8d97ad;
  font-weight: 300;
}

.contact4 h1, .contact4 h2, .contact4 h3, .contact4 h4, .contact4 h5, .contact4 h6 {
  color: #3e4555;
}

.contact4 .font-weight-medium {
	font-weight: 500;
}

.contact4 .form-control {
  background: transparent;
  border: 2px solid rgba(255, 255, 255, 0.5);
}

.contact4 .form-control:focus {
  border-color: #ffffff;
}

.contact4 input::-webkit-input-placeholder,
.contact4 textarea::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.7);
}

.contact4 input:-ms-input-placeholder,
.contact4 textarea:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.7);
}

.contact4 input::placeholder,
.contact4 textarea::placeholder {
  color: rgba(255, 255, 255, 0.7);
}

.contact4 .right-image {
  position: absolute;
  right: 0;
  bottom: 0;
  top: 0;
}

.contact4.bg-info {
    background-color: var(--pm-green)!important;
}

.contact4 .text-inverse {
    color: #3e4555 !important;
}

#contact-submit {
    color: var(--pm-white);
    background-color: var(--pm-red);
}

@media (min-width: 1024px) {
	.contact4 .contact-box {
    padding: 80px 105px 80px 0px;
	}
}

@media (max-width: 767px) {
	.contact4 .contact-box {
    padding-left: 15px;
    padding-right: 15px;
	}
}

@media (max-width: 1023px) {
	.contact4 .right-image {
			position: relative;
			bottom: -95px;
	}
}
