/* CSS for devices with a width of 500px or less */
@media only screen and (max-width: 500px) {
    /* Your CSS rules for devices with a width of 500px or less */
    /* For example: */
    /* #carouselExampleControls .carousel-inner .img-box {
        width: 500px;
    } */
    .slider_section {
        padding: 0;
        margin: 0;
    }
    #carouselExampleControls .carousel-inner {
        padding: 0;
    }

    .client_section .carousel-inner {
        top: 0;
        padding: 0;
    }
  }

  @media only screen and (max-width: 500px) {
    #do-section .col-md-3 {
        padding-left: 34px;
        padding-top: 15px;
    }
  }

  @media only screen and (max-width: 575px) {
    #our-team .row {
        padding: 0 3.5rem;
        margin-left: 20px;
    }
  }